asgiref
attrs
Automat
autopep8
Babel
backcall
bcrypt
beautifulsoup4
billiard
bleach
blessings
blinker
bpython
celery
certifi
cffi
chardet
Click
colorama
configobj
constantly
coreapi
coreschema
cryptography
curtsies
#dbus-python
decorator
defusedxml
distro
Django
django-background-tasks
Django-Basic-CRUD-Generator
django-bootstrap-breadcrumbs
django-bootstrap-datepicker-plus
django-bootstrap3
django-bootstrap3-datepicker
django-code-generator
django-common-helpers
django-compat
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-fitbit
django-guardian
django-ipware
django-modelcluster
django-phone-field
django-phonenumber-field
django-postgres-dropdb
django-queryset-csv
django-redis
django-registration-redux
django-rest-framework
django-rest-swagger
django-secure
django-sslserver
django-taggit
django-treebeard
django-vue-generator
djangorestframework
djangorestframework-filters
djangorestframework-jwt
draftjs-exporter
drf-api-logger
drf-generators
entrypoints
et-xmlfile
ez-setup
fitbit
greenlet
html5lib
httplib2
hyperlink
idna
importlib-metadata
incremental
install
ipykernel
ipython
ipython-genutils
itypes
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jupyter-client
jupyter-core
keyring
kombu
l18n
launchpadlib
lazr.restfulclient
lazr.uri
llvmlite
Markdown
MarkupSafe
metakernel
more-itertools
netifaces
numba
numpy
oauthlib
oct2py
octave-kernel
openapi-codec
openpyxl
packaging
parso
pbr
pexpect
phonenumbers
pickleshare
psycopg2
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
pycodestyle
pycparser
Pygments
#PyGObject
PyHamcrest
PyJWT
pymacaroons
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
PySocks
#python-apt
python-dateutil
#python-debian
pyts
pytz
PyYAML
pyzmq
readchar
redis
requests
requests-oauthlib
requests-unixsocket
scikit-learn
scipy
SecretStorage
service-identity
simplejson
six
soupsieve
sqlparse
ssh-import-id
#systemd-python
tablib
termcolor
test-utils
testresources
threadpoolctl
toml
tornado
traitlets
tree-format
#ttystatus
Twisted
typing
#ubuntu-advantage-tools
#ufw
#unattended-upgrades
unicodecsv
uritemplate
urllib3
uWSGI
vine
wadllib
wcwidth
webencodings
Willow
xlrd
XlsxWriter
xlwt
zipp
zope.interface
